{% extends 'base.html' %}

{% block title %}
    Detail Page
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ item.name }}</h1>
            <p>{{ item.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if item.tasks.all|length == 0 %}<p>This project has no tasks</p>{% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for task in item.tasks.all %}
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee.username }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ value|yesno }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
